
* {
    /* CSS Validator issue found:
1. The universal selector (*) is known to be slow. * { What does this mean??? */

    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Passion One', cursive;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}

body{
    background-color: #F3E5D8;
}


/*-------------------------------------------A11y-----------------------------------------------*/
:focus {
    padding: 0.5em;
    outline: 3px solid yellow;
}
/*-------------------------------------------A11y-----------------------------------------------*/

/*-----------------------------------------Site Navigation--------------------------------------*/
nav {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 0;
    padding: 0.1em 1.2em;
    z-index: 1000;
}

ul {
  list-style-type: none;
}

a {
    text-decoration: none;
    color: #3cd46c;
    font-weight: bold;
}

a:hover {
        text-decoration: underline;
}

.nav-main li {
  font-size: 1em;
  padding: 10px 5px;
  white-space: nowrap;
/*NO WRAP = Collapses white space, but suppresses line breaks (text wrapping) within the source. */
}

 .logo a,
  ul li a {
    font-family:'Raleway', sans-serif;
    font-weight: 600;
}

.item.button.register {
     border-bottom: 1px #444 solid;
}

.item.button.register a{
     color: white;
}

.logo a{
    font-size: 1.5em;
}

.logo a:hover {
    text-decoration: none;
}

/*---------------------Media querie Mobile Samsung S10 Menu 400px----------------------------*/
@media all and (min-width: 400px){

.nav-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
}

/*------------------------------------Navigation bar Toggle------------------------------------*/
.toggle {
    order: 2;
    cursor:pointer;
}

.item {
    order: 4;
    width: 100%;
    text-align: center;
    display: none;
    transition: 1s ease;
    border-top: 1px solid lightgray;
}


.item.button.login {
    width: 100%;
    order: 3;
    text-align: center;

}

.item.button.register {
   width: 100%;
   order: 3;
   text-align: center;
    background: #3cd46c;
    border-radius: 50em;
    margin: 0 1.6em  0;
    border-top: none;

    }

.item.button.register a{
   color: white;
    }

.button:hover {
    transition: all .20s;
    }

.item.button.login a:active{
        color: #E72458;
    }

.item.button.register a:active{
        color: #3cd46c;
    }

.item.button.register:active{
        background: #E72458;
    }

.item a:active{
        color: #E72458;
    }

ul a.current{
     color: #2800a0;
}

button {
    font-family: 'Raleway';
    color: white;
    font-weight: 600;
    width: 80;
    order: 1;
    display: block;
    border: 0.1em solid #E72458;
    background: #E72458;
    border-radius: 50em;
    margin: 0 1em 0 0;
    font-size: 1em;
    padding: 0.5em;
    transition: border, color .9s ease-out;
    }

button:active{
        background: #2800a0;
        border-color: #2800a0;
    }

/* JS: Active class voor Javascript, openklappen/verschijnen bij klikken */
/* Bron: https://css-tricks.com/video-screencasts/150-hey-designers-know-one-thing-javascript-recommend */
.block .item {
    display: block;
/* JS: Active class voor Javascript, openklappen/verschijnen bij klikken */
}
    
.section1 {
   padding: 3em 0.5em;
/* BACKGROUND TIPS: https://www.webfx.com/blog/web-design/responsive-background-image/ */
}

.grid-item {
   width: 20em;
}


/*------------------------------------Media querie Mobile-2 Menu 500px------------------------------------*/
@media all and (min-width: 500px){

.nav-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/*------------------------------------Navigation bar Toggle------------------------------------*/
.toggle {
    order: 2;
    cursor:pointer;
}

.item {
    order: 4;
    width: 100%;
    text-align: center;
    display: none;
    transition: 1s ease;
    border-top: 1px solid lightgray;
}

.item.button.login {
    width: 100%;
    order: 3;
    text-align: center;

}

.item.button.register {
   width: 100%;
   order: 3;
   text-align: center;
    background: #3cd46c;
    border-radius: 50em;
    margin: 0 1.6em  0;
    border-top: none;

    }
}

.item.button.register a{
   color: white;
    }

.item.button.login a:active{
        color: #E72458;
    }

.item.button.register a:active{
        color: #3cd46c;
    }

.item.button.register:active{
        background: #E72458;
    }

.item a:active{
        color: #E72458;
    }

ul a.current{
     color: #2800a0;
}

button {
    font-family: 'Raleway';
    color: white;
    font-weight: 600;
    width: 80;
    order: 1;
    display: block;
    border: 0.1em solid #E72458;
    background: #E72458;
    border-radius: 50em;
    margin: 0 1em 0 0;
    font-size: 1em;
    padding: 0.5em;
    transition: border, color .9s ease-out;
    }

/*------------------------------------Fake button------------------------------------*/
.mb{
    font-family: 'Raleway';
    color: white;
    font-weight: 600;
    width: 80;
    order: 1;
    display: block;
    border: 0.1em solid #E72458;
    background: #E72458;
    border-radius: 50em;
    margin: 0 1em 0 0;
    font-size: 1em;
    padding: 0.5em;
    transition: border, color .9s ease-out;
    }

button:active{
        background: #2800a0;
        border-color: #2800a0;
    }

/* JS: Active class voor Javascript, openklappen/verschijnen bij klikken */
/* Bron: https://css-tricks.com/video-screencasts/150-hey-designers-know-one-thing-javascript-recommend */
.block .item {
    display: block;
/* JS: Active class voor Javascript, openklappen/verschijnen bij klikken */
}


/*------------------------------------End Media querie Mobile-2 Menu___________________________________*/



/*------------------------------------Media querie Tablet-1 Menu 643px------------------------------------*/
@media all and (min-width: 643px){

.nav-main{
    justify-content: center;
}

.logo {
     flex: 1;
/* maakt het mogelijk om mee te scalen */
    }

.item.button.login {
    width: auto;
    order: 1;
    display: block;
    border: 0.1em solid #ff3268;
    border-radius: 50em;
    margin: 0 0.5em;
    }

.item.button.register {
    width: auto;
    order: 1;
    display: block;
    background: #ff3268;
    border-radius: 50em;
    margin: 0 1.6em 0 0;
    }

.item.button.register a{
        color: white;
    }

.item.button.login a,
.item.button.register a{
    text-decoration: none;
    }

.item.button.register {
     border-bottom: 0;
}

.button a{
        padding: 1em 1em;
    }

button:hover {
    transition: all .20s;
    }

button:hover{
        background:   #3cd46c;
        color: white;
    }

button:active{
        background: #E72458;
        border-color: #E72458;
    }

.button:hover {
    transition: all .20s;
    }

.button a:hover {
    transition: all .25s,
    }

.item.button.login:hover{
        background: #E72458;
        border-color: #E72458;
    }

.item.button.login:active{
        background: #3cd46c;
        border-color: #3cd46c;
    }

.item.button.login a:hover{
        color: white;
    }

.item.button.register:hover{
        background:   #3cd46c;
        border-color: #E72458;
    }

.item.button.register:active{
        background:   #2800a0;
        border-color: #2800a0;
    }

ul a.current{
     color: #2800a0;
}

    button {
    cursor: pointer;
    font-family: 'Raleway';
    color: #3cd46c;
    font-weight: 600;
    width: 80;
    order: 1;
    display: block;
    border: 0.1em solid #3cd46c;
    background: white;
    border-radius: 50em;
    margin: 0 1em 0 0;
    font-size: 1em;
    padding: 0.5em;
    }

    }
/*------------------------------------End Media querie Tablet-1 Menu___________________________________*/


/*------------------------------------Media querie Desktop-1 Menu 1119px------------------------------------*/
@media all and (min-width:  1119px){

.logo {
    order: 0;
    }

.toggle {
    display: none;
    }

.item {
    display: block;
    width: auto;
    order: 2;
    margin: 0 1em ;
    border-top: none;
    }

 .item.button.login {
    display: block;
    order: 3;
    width: 7em;
}

.item.button.register {
    display: block;
    order: 4;
    width: 10em;
}

ul a:hover{
    color: #c97ba1;
}

ul a:active{
    color: #ff3268;
}

ul a.current{
     color: #2800a0;
}

.logo a:hover{
    color: #3cd46c;
}

}

/*------------------------------------End Media querie Desktop-1 Menu------------------------------------*/


/*------------------------------------Home/Overzicht/index pagina------------------------------------*/


/*-----------------1ste SECTION: Cards with recently added travel stories-----------------------*/
.section1 {
  width: 100%;
  padding: 3em 1em 3em 1em;
  background-image: url('colorbg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
/* BRON BACKGROUND TIPS: https://www.webfx.com/blog/web-design/responsive-background-image/ */
}

header > h1 {
 font-family: 'Playfair Display', serif ;
 font-size: 2.5em;
  padding: 35px 3px 0px 9px;
  text-shadow: 1px 1px 2px #6b6b6b;
  display: block;
  color: #ff3268;
}

.section1 > .section1-subtitle{
    font-family: sans-serif;
    line-height: 2em;
    color: #0659bf;
    text-shadow: 0px 1px 3px #fff;
    font-size: 1.2em;
    padding: 0px 0px 15px 9px;
}


/* DISPLAY FLEX: This defines a FLEX CONTAINER; inline or block depending on the given value. It enables a flex context for all its direct children.
We first create a flex layout context. Bron: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

/* FLEX-FLOW: Applies to parent flex container element
This is a shorthand for the flex-direction and flex-wrap properties, which together define the flex container's main and cross axes. The default value is row nowrap.
   FLEX-FLOW ROW WRAP: Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   * nowrap (default): all flex items will be on one line. Bron: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.divwrap > .grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 28em;
  flex-basis: 20%;
  flex: auto;
  width: 20em;
  position: relative;
  padding: 0.5em;
  box-sizing: border-box;

/* FLEX-BASIS: This defines the default size of an element before the remaining space is distributed.
Bron: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* FLEX: AUTO: The auto keyword means "look at my width or height property" (which was temporarily done by the main-size keyword until deprecated).
20% van mijn height*/
}

.wrapping-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
/* WRAPPING-LINK: Makes the full item clickable */
}

.grid-item-wrapper {
  box-sizing: initial;
  background: white;
  border-radius: 15px 15px 15px 15px;
  height: 96%;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 7px 10px 17px 1px rgba(0,0,0,0.50);
 -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
/* Bron Cool bounce effect: https://codepen.io/jakeblakeley/pen/yNRmKO */
    
/*The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not.
  Sets this property to its default value.                      https://www.w3schools.com/cssref/css3_pr_box-sizing.asp*/

/*OVERFLOW property specifies what should happen if content overflows an element's box.
This property specifies whether to clip content or to add scrollbars when an element's content is too big to fit in a specified area.
Note: The overflow property only works for block elements with a specified height.  https://www.w3schools.com/cssref/pr_pos_overflow.asp */

/*TRANSITIONS: allows you to change property values smoothly, over a given duration.
  Mouse over the element below to see a CSS transition effect:  https://www.w3schools.com/css/css3_transitions.asp*/
}

.grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 2em;
}

/* Bevat de afbeelding in mijn item*/
.grid-image-top {
  height: 45%;
  width: 120%;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  left: -10.5%;
  top: -4.5%;
}

/* MY COOL IMAGES */
.Gebakken-lucht-img {
  background-image: url('cloud2.jpg');
}

.water-vangen-img{
      background-image: url('water.jpg');
}

.vliegen-dromen-img{
      background-image: url('fly.jpg');
}

.bergen-img{
      background-image: url('stare.jpg');
}

/* flexbox: https://codepen.io/fullstackdigital/pen/MBzKXj*/
.grid-item-content {
  padding: 0px 20px 25px 20px;
}

 .story-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 26px;
  margin-bottom: 18px;
  display: block;
  color: #3cd46c;
}

.story-date {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 1em;
  color: #2e2e2e;
}

.item-category {
 font-family: sans-serif;
  margin-bottom: 10px;
  display: block;
  font-size: 0.8em;
  color: #525252;

}

.item-views {
  font-family: sans-serif;
  margin-bottom: 20px;
  display: block;
  font-size: 0.9em;
  color: #ff3268;

}


/* When POSITION ABSOLUTE is used on an element, it is positioned absolutely with reference to the closest parent that has a position relative value.
An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed). However; if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling.
Bron: https://www.w3schools.com/css/css_positioning.asp */
.more-info {
 font-family: sans-serif;
  position: absolute;
  transition-duration: .5s;
  font-size: 0.8em;
  display: flex;
  color: #2800a0;
}

.grid-item:hover .more-info {
  padding-left: 10px;
  text-decoration: underline;
  transition-duration: .5s;
}

.grid-item:hover .grid-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}



/*------------------------------------2nd Section: Cards with Featured stories------------------------------------*/
.section2 {
  width: 100%;
  display: table;
  margin: 0;
  height: 34.5vh;
  }


.divwrap2 > .grid-row2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid2-item {
  height: 100%;
  width: 16.188em;
  flex-basis: 20%;
  flex: auto;
  position: relative;
  padding: 0.5em;
  box-sizing: border-box;
  cursor: pointer;
}

.grid2-item-wrapper {
  box-sizing: initial;
  background: white;
  border-radius: 15px 15px 15px 15px;
  margin: 0;
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 7px 10px 17px 1px rgba(0,0,0,0.50);

}

.grid2-item:hover .featured-story-excerpt-more-info  {
  padding-left: 10px;
  transition-duration: .5s;
}

.grid2-item:hover .grid2-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}

.aanbevolen_icon:hover {
    text-decoration: none;
}

.grid2-item-content {
  padding: 30px 30px 50px 30px;
}


/* INLINE FLEX: enige manier waarop in de op een lijn kreeg
 icon inline weten te krijgen m.b.v. Bron: https://codepen.io/johnasp/pen/bqadn?editors=1100 */
.aanbevolen_icon {
   padding: 4px 0px;
   margin-right: 20px;
   color: #ff3268;
   display: inline-block;
}

.aanbevolen-item {
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    color: #ff3268;
    padding-left: 0.4em;
    margin-bottom: 5px;
}

.featured-story-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 26px;
  margin-bottom: 18px;
  display: block;
    color: #3cd46c;
}

.featured-story-date {
 font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #2e2e2e;
}

.featured-story-category {
 font-family: sans-serif;
  margin-bottom: 10px;
  display: block;
  font-size: 0.8em;
  color: #525252;
}

.featured-story-more-info {
 font-family: sans-serif;
  position: absolute;
  margin-bottom: 25px;
  transition-duration: .5s;
  font-size: 0.8em;
  display: flex;
  color: #2800a0;
}

.grid2-item:hover .featured-story-more-info {
  padding-left: 10px;
  text-decoration: underline;
  transition-duration: .5s;
}


/* Bevat de afbeelding in mijn item*/
.grid-image-side {
  height: 100%;
  width: 40%;
  background-size: cover;
  position: absolute;
  background-position: 50% 50%;
  left: 61%;
  top: 0;
}


/*------------------------------------MY COOL IMAGES------------------------------------*/
.storm-img {
  background-image: url('../img/globe.jpg');
}

.oranje-img {
  background-image: url('../img/two.jpg');
}



/*------------------------------MEDIA QUERY Aanbevolen verhalen 500px------------------------------*/
@media all and (min-width: 500px) {
     .section2 {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.3em;
    padding-bottom: 1.5em;
    display: table;
    margin: 0;
       height: 34.5vh;
  }


}
/* ------------------------------End MEDIA QUERY Aanbevolen verhalen----------------------------------- */



/*------------------------------MEDIA QUERY Aanbevolen verhalen 1295px-----------------------------*/
@media all and (max-width: 1295px) {

.grid-image-side {
    display: none;
}
}

/*-------------------------------End MEDIA QUERY Aanbevolen verhalen-----------------------------*/




/*--------------------------------------3d Section: A Quote------------------------------------*/
.section3 {
  width: 100%;
  padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.3em;
    background-color: white;
    display: table;
    margin: 0;
    height: 20vh;
  }

blockquote {
text-align: center;
vertical-align: middle;
padding: 6em 0em 6em 0em;

}

.quote {
font-family: 'Lobster', cursive;
  font-size: 2.8em;
 padding-bottom: 0.5em;
  display: block;
  color: #ff3268;
  font-weight: 900;

}

i{
font-family: 'Lobster', cursive;
  font-size: 0.7em;
  display: block;
  color: #ff3268;
  font-weight: 900;
    padding-top: 1em;
}
/*--------------------------------------End: 3d Section------------------------------------*/




/*----------------------------4th Section: Story of the month------------------------------*/
.section4-short-stories {
  display: table;
  width: 100%;
  background-position: center;
  background-attachment: local;
  background-size: cover;
  height: 90vh;
}

.learning-experience {
  padding: 3em 6em 3em 6em;
  display: table;
  background-image: url('pic.jpg');
  background-position: center;
  background-attachment: local;
  background-size: cover;
}

 .learning-experience > header > h1 {
  font-family: 'Raleway', sans-serif;
  width: 40%;
  text-align:left;
  font-size: 2.5em;
  padding: 65px 3px 0px 9px;
  display: block;
  color: #3cd46c;
}

 .section4-subtitle{
    font-family: sans-serif;
    line-height: 2em;
    color: #8BAAF7;
    font-size: 1.2em;
    padding: 15px 0px 20px 9px;
}

.grid-s4-item-wrapper {
  border-radius: 15px 15px 15px 15px;
  height: 96%;
  width: 50%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 7px 10px 17px 1px rgba(0,0,0,0.20);
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.grid-s4-item-wrapper :first-child{
    color: #2800a0;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-bottom: 1em;
    font-weight: 700;
}

.grid-s4-item-wrapper > p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-bottom: 1em;
    color: #3b3b3b;
    font-weight: 600;
}

.grid-s4-item-wrapper h3{
    color: #3b3b3b;
    padding-top: 1em;
    padding-bottom: 0.7em;
}

.grid-s4-item-wrapper > p > a:hover {
 text-decoration: underline;
 color: #ff3268;
 font-weight: bold;
 transition: 1s ease;
}
/*--------------------------------------End: 4th Section------------------------------------*/

/*---------------------Media querie Mobile Samsung S10 Menu 400px----------------------------*/
@media all and (min-width: 400px) {

.learning-experience {
  padding: 3em 0.5em 3em 0.5em;
  display: table;
}

.learning-experience > header > h1 {
  width: 80%;
  font-size: 2em;
  padding: 65px 3px 0px 9px;
}

.grid-s4-item-wrapper {
  width: 100%;
}

    }
/* ---------------------------------------------------------------------------------- */


/*-----------------------------MEDIA QUERY Boxes Mobile-1 500px-------------------------------*/
@media all and (min-width: 500px) {

.section4-short-stories {
  display: flex;
  width: 100%;
  background-position: center;
  background-attachment: local;
  background-size: cover;
  height: 100vh;
}

.learning-experience {
  padding: 1em 2em 3em 2em;
  display: table;
  background-image: url('pic.jpg');
  background-position: center;
  background-attachment: local;
  background-size: cover;
  height: 100vh;
}

 .learning-experience > header > h1 {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 2em;
  color: #3cd46c;
}

.grid-s4-item-wrapper {
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 7px 10px 17px 1px rgba(0,0,0,0.20);
}

.grid-s4-item-wrapper :first-child{
    color: #2800a0;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-bottom: 1em;
    font-weight: 700;
}
}
/* -------------------------------------------------------------------------------------- */



/* MEDIA QUERY TEXT BOX 840px----------------------------*/
@media all and (min-width:  840px) {

.grid-s4-item-wrapper {
  width: 70%;
  height: 100%;
}
}
/* ----------------------------------------------------- */


/*-----------------------------MEDIA QUERY TEXT BOX Laptop-1 1145px----------------------------*/
@media all and (min-width:  1145px) {

.grid-s4-item-wrapper {
  width: 60%;
  height: 70%;
}
}
/*---------------------------------------------------------------------------------------------*/

/*-----------------------------MEDIA QUERY TEXT BOX Laptop-2 1425px-----------------------------*/
@media all and (min-width:  1425px) {

.learning-experience {
  padding: 1em 20em 3em 4em;
}
}
/*----------------------------------------------------------------------------------------------------*/

/*------------------------------End Home/Overzichts/index pagina-----------------------------*/




/*-----------------------------Verhaal/Detail pagina-----------------------------*/
.titel-bg {
  width: 100%;
  display: table;
  background-image: url('gebakken2.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  transition: 3s ease-out;
  height: 50vh;
}

.titel-bg:hover {
  border-radius:50%;
  transition: 1s ease;
  transition-delay: 4s;
}

.titel-bg-h2 {
 font-family: 'Playfair Display', serif ;
 width: 100%;
 font-size: 2.5em;
 text-shadow: 2px 2px 10px #000000;
 color: #fff;
 text-align: center;
}

.detail-article > header > h1{
    color: white;
    font-size: 2em;
}

.detail-article {
  background: #823A9C;
  width:100%;
  padding: 7em 10em 5em 10em;
  color:#fff;
  transition: 3s;
  }

.active {
  background: black;
  transition: 3s;
}

article > .alinea3 {
  cursor: zoom-in;
}

.detail-article > p:nth-of-type(2) {
  background: black;
  border-radius: 10%;
}

.detail-article > P::first-line { 
  font-family: 'lobster';
}

/*---------------------Media querie Mobile Samsung S10 Menu 400px----------------------------*/
@media all and (min-width: 400px) {

.titel-bg-h2 {
 padding-top:3em;
 padding-bottom:2em;
 font-size: 3em;
}

.detail-article {
   padding: 0.5em 0.5em 0.5em 0.5em;
   color:#fff;
   transition: 3s;
    }

.detail-article .alinea1 {
  line-height: 1.5em;
  text-align: justify;
  padding: 1em 2em 1em 2em; 
  font-size: 1em;
}
article > .alinea2 {
   line-height: 1.5em;
   text-align: justify;
   padding: 1em 2em 1em 2em; 
   font-size: 1em;

    }

article > .alinea3 {
    text-align: justify;
    line-height: 1.5em;
    padding: 1em 2em 1em 2em;
    font-size: 1em;
    }

header .free-air {
    text-align: center;
    padding-top:3em;
    padding-bottom:0.2em;
}
}
/*----------------------------------------------------------------------------------------------*/


/*-----------------------------MEDIA QUERY Mobile-1 500px-----------------------------*/
@media all and (min-width: 500px) {

.titel-bg-h2 {
 padding: 2em;
 font-size: 3em;
}

.detail-article {
  padding: 5em 0.5em 5em 0.5em;
  color:#fff;
  transition: 3s;
    }

.alinea1 {
  line-height: 1.5em;
  text-align: justify;
  padding: 1em 2em 1em 2em;
  transition: 9s ease-out;
  transition-delay: 2s;
}

article > .alinea2 {
   line-height: 1.5em;
   text-align: justify;
   padding: 1em 2em 1em 2em;
   transition: 9s ease-out;
   transition-delay: 2s;
    }

article > .alinea3 {
    text-align: justify;
    line-height: 1.5em;
    padding: 1em 2em 1em 2em;
}
    

  }
/*----------------------------------------------------------------------------------------------*/


/*-------------------------------------MEDIA QUERY Mobiel-2 525px-------------------------------------*/
@media all and (min-width: 525px) {

.titel-bg-h2 {
 padding: 3em;
 font-size: 3em;
}

}
/* ------------------------------------------------------------------------------------------------------ */



/*---------------------------------MEDIA QUERY Tablet-1 630px-----------------------------------*/
@media all and (min-width: 630px) {

.alinea1 {
  line-height: 1.5em;
  text-align: justify;
  padding: 1em 2em 1em 4em;
}

article > .alinea2 {
   line-height: 1.5em;
   text-align: justify;
   padding: 1em 2em 1em 2em;
}

article > .alinea3 {
    text-align: justify;
    line-height: 1.5em;
    padding: 1em 2em 1em 2em;
}

}
/* ------------------------------------------------------------------------------------------ */


/* MEDIA QUERY Laptop-1 1010px */
@media all and (min-width: 1010px) {

.titel-bg-h2 {
  padding: 5em;
  font-size: 2.5em;
}


.detail-article {
   padding: 5em 10em 5em 10em;
   color:#fff;
   transition: 3s;
    }

.alinea1 {
   line-height: 1.5em;
   text-align: justify;
   padding: 1em 2em 1em 4em;

}

article > .alinea2 {
   line-height: 1.5em;
   text-align: justify;
   padding: 1em 2em 1em 2em;

    }

article > .alinea3 {
    text-align: justify;
    line-height: 1.5em;
    padding: 1em 2em 1em 2em;
    }
}
/* ------------------------------------------------------------------------------------------------------ */


/*-----------------------------------MEDIA QUERY Laptop-2 1425px--------------------------------------*/
@media all and (min-width: 1425px) {

.titel-bg-h2 {
  padding: 4em;
  font-size: 3em;
}

.detail-article {
   padding: 5em 20em 5em 20em;
   color:#fff;
   transition: 3s;
    }

.alinea1 {
  line-height: 1.5em;
  text-align: justify;
  padding: 1em 2em 1em 4em;

}

article > .alinea2 {
   line-height: 1.5em;
   text-align: justify;
   padding: 1em 2em 1em 2em;

    }

article > .alinea3 {
    text-align: justify;
    line-height: 1.5em;
    padding: 1em 2em 1em 2em;
    }

}
/* ---------------------------------------------------------------------------------------------- */


.vorm {
  padding: 1em;
  display: inline-block;
  width:100%;
  height:100px;
  position:absolute;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(130,58,156,1) 55%);
/* Bron Gradients = https://cssgradient.io */
}

.vorm2{
  width:100%;
  height:100px;
  position:absolute;
  background: linear-gradient(0deg, rgba(40,0,160,1) 0%, rgba(130,58,156,1) 55%);
/* Bron Gradients = https://cssgradient.io */
}

.free-air {
    text-align: left;
    padding:1em  1em  0.3em 1.4em;
}

.alinea1 {
  line-height: 1.5em;
  text-align: justify;
  padding: 1em 2em 1em 2em;
  transition: 9s ease-out;
  transition-delay: 2s;
}

.alinea1:hover {
   transform: rotateZ(-20deg);
    color: #823A9C;
    transition: 9s ease;
}

/* Travel Text grow */
.travel {
   display: grid;
   grid-template-columns: repeat(6, 16.66%);
/* 6 kolommen, allemeel even breed*/    
   padding-top: 2em;
   padding-bottom: 2em;
   cursor: nesw-resize;
/* Bron = thanks to  https://css-tricks.com/introduction-fr-css-unit/ */
}


.hover {
   position: relative;
   display: grid;
   text-align: center;
   padding-left: 1em;
   padding-right: 1em;
    }

h4 {
   font-size: 2em;
   color: transparent;
   text-align: center;
   -webkit-text-stroke: 2px #fff;
   transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

h4:hover  {
   transform: scale(5.5);
   color: #00d66c;
   -webkit-text-stroke: 2px transparent;
   text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
/* Bron text effect = https://codepen.io/oliviale/pen/YgzNzK */


.alinea2 {
   line-height: 1.5em;
   text-align: justify;
   padding: 1em 9em 1em 9em;
   transition: 9s ease-out;
   transition-delay: 2s;
}

.alinea2:hover {
    color: #823A9C;
    transition: 9s ease;
}

/*-----------------------------Grow Text move-----------------------------*/
.grow {
    padding-top: 1em;
    text-align: center;
    letter-spacing: 2em;
}

.grow-h2 {
    cursor: nesw-resize;
    }

.grow-h2:hover {
     letter-spacing: 25px;
     transform: scale(2.3);
     color: white;
     transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
/* Bron text effect = https://codepen.io/oliviale/pen/YgzNzK */

.alinea3 {
    text-align: justify;
    line-height: 1.5em;
    vertical-align: middle;
    padding: 1em 9em 1em 9em;
}

.alinea3:hover{
    font-size: 4em;
    transition: 5s ease;
    transition-delay: 3s;
}
/*------------------------------Einde Verhaal/Detail pagina------------------------------------*/



/*---------------------------------------Footer/form-------------------------------------

    CSS Validator issue found: Too many font-size declarations (12), abstraction needed.

Voorbeeld:

.small {
    font-size: 8px;
}

.medium {
    font-size: 11px;
}

.large {
    font-size: 14px;
} */

footer{
    width: 100%;
    background-color: #2800a0;
    padding: 2em 2em 3em 2em;

}

.footer-h1{
    font-size: 1.8em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0.4em;
    color: #fff;
}

form > p{
    margin-bottom: 2em;
    color: white;
    font-size: 0.9em;
    font-style: italic;

}

.info-blok-h2{
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #fff;
}

fieldset{
    padding: 1em;
}

.verhaal-soort{
    border-style: dashed;
    border-color: #00d66c;
}

.verhaal-soort > label {
  display: inline-block;
  padding-bottom: 1.5em;

}

.verhalen-delen{
    border-style: dashed;
    border-color: #00d66c;
}

#mood-select{
    margin:  0.5em 0 1em 0.4em;
    background-color: #fff;
    font-size: 0.8em;
    color: gray;
    border: 4px solid #fff;
}

.range {
    margin: 0.3em;
}

.range:out-of-range {
    margin: 0.3em;
  background: red;
    color: white;
    font-size: 1em;
    font-weight: 700;
}

.range:in-range {
  background: #00d66c;
    color: white;
    font-size: 1em;
    font-weight: 700;
}

legend {
    background-color: white;
    color: #00d66c;
    font-size: 1em;
    padding: 0.3em 1em;
    margin: 1em;
    font-family: "Raleway";
    font-weight: 600;
}

label{
    margin:0 1.5em 0 0.4em;
    color: white;
    display:block;
}

.aanhef{
    border-style: dashed;
    border-color: #00d66c;
}

.aanhef > ul{
    margin-bottom: 2em;
}

.aanhef > .text-veld{
    width: 80%;
    padding: 0.8em;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 0.8em;
    border: 2px solid #fff;
    transition: 1s ease-out;
}

.text-veld:focus{
    border: 0.2em solid #00d66c;
    transition: 1s;
}

.aanhef > .text-veld:not(:placeholder-shown){
   background-color: #00d66c;
   font-weight: 700;
    color: white;
/* Bron = https://www.youtube.com/watch?v=jWCXc32OIUY
    Veranderd de styles als je klikt op een input veld*/
}

.aanhef > .text-veld:not(:placeholder-shown):invalid{
   background-color: red;
   font-weight: 700;
    color: white;
/* Bron = https://www.youtube.com/watch?v=jWCXc32OIUY
    Veranderd de styles als je klikt op een input veld*/
}

.aanhef > .text-veld:invalid{
        width: 95%;
        transition: 1s;
}

.aanhef > .text-veld:invalid:focus {
         background: #2900A0;
}

.aanhef > .text-veld-message{
    width: 93%;
    padding: 0.8em;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 1em;
    border: 2px solid #fff;
    font-family: 'Lobster';
}

#registreren-btn{
    width: 90%;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ff3268;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
#registreren-btn:hover{
    background-color: #ca2b55;
    transition: 0.3s;
}

#registreren-btn:active{
    background-color: #00d66c;
}

/*----------------------MEDIA QUERY Tablet-1 footer text boxes 500px----------------------*/
@media all and (min-width:  500px) {

#registreren-btn{
    width: 99.8%;
}
footer{
    padding: 6em 2em 3em 2em;	
}
    
}
/*-----------------------------------------------------------------------------------*/

/*--------------------------------MEDIA QUERY 740px-------------------------------*/
@media all and (min-width:  740px) {

footer{
    padding: 3em 2em 3em 2em;	
}
}

/* ---------------------------------------------------------------------------- */

/*----------------------MEDIA QUERY Tablet-2 footer text boxes 790px----------------------*/
@media all and (min-width:  790px) {

footer{
    padding: 3em 6em 3em 6em;
}
    #registreren-btn{
    width: 99.8%;
}
}

/* ---------------------------------------------------------------------------------- */



/*----------------------MEDIA QUERY Tablet-3 footer text boxes 945px----------------------*/
@media all and (min-width:  945px) {

footer{
    padding: 3em 12em 3em 12em;
}
    #registreren-btn{
    width: 99.8%;
}
}

/* --------------------------------------------------------------------------------- */



/*----------------------MEDIA QUERY Desktop footer text boxes 1425px----------------------*/
@media all and (min-width:  1425px) {

footer{
    padding: 3em 20em 3em 20em;
}

.aanhef > .text-veld{
    width: 30%;
    padding: 0.8em;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 0.8em;
    border: 2px solid #fff;
    transition: 1s ease-out;
}
.aanhef > .text-veld:invalid{
        width: 95%;
        transition: 1s;
}

.aanhef > .text-veld:invalid:focus {
         background: #2900A0;
}

.aanhef > .text-veld-message{
    width: 93%;
    padding: 0.8em;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 1em;
    border: 2px solid #fff;
    font-family: 'Lobster';
}

    #registreren-btn{
    width: 96%;
}
}

/*---------------------------------------------End Footer/form--------------------------------------------- */



